# AI Project Settings
AI_PROJECT_ENDPOINT=<your-ai-project-endpoint>
AI_MODEL_DEPLOYMENT_NAME=<your-ai-model-deployment-name>

# OpenAI Settings
OPENAI_API_KEY=<your-openai-api-key>
OPENAI_MODEL_ID=<your-openai-model-id>
OPENAI_ENDPOINT=<your-openai-endpoint>